<div class="container">
    <div class="row">
        <div class="col-md-9">
            <input type="search" placeholder="Search..." ng-model="form.latlong" class="form-control">
        </div>
        <div class="col-md-3">
            <select name="" ng-model="form.type" id=""><option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option></select>
        </div>
    </div>
</div>